Repository Know-Your-Way/frontend, pull requests merged in 2022-11, with the labels that each got.

#13 hero section is done
  public/index.html
  src/components/Filters.jsx
  src/pages/HomePage/Hero.jsx
  src/pages/HomePage/Home.jsx
  src/pages/HomePage/Nav.jsx
  tailwind.config.js
Labels: React, hero

#15 New cards
  src/pages/HomePage/Cards.jsx
  src/pages/HomePage/Home.jsx
  src/pages/HomePage/Places.jsx
Labels: React, Cards

#17 add api links to the api folder
  src/api/index.js
  src/api/new restaurants.js
  src/api/newHot.js
Labels: JS, API

#19 Map-update-01
  package-lock.json
  package.json
  src/pages/HomePage/Home.jsx
  src/pages/map/Map.jsx
Labels: Map, React, Leaflet, JS

#23 update about page
  package-lock.json
  src/pages/AboutPage/About.jsx
Labels: React, pages, about

#21 Map-02
  public/index.html
  src/pages/map/Map.jsx
Labels: Map, React, Leaflet, JS

#30 Contact us page
  src/pages/ContactPage/Contact.jsx
Labels: CSS Tailwind

#32 added axios fetch toilet data
  package-lock.json
  package.json
  src/pages/map/Map.jsx
Labels: Map, React, Leaflet, API, frontend

#42 Adding Footer
  src/pages/HomePage/Footer.jsx
  src/pages/HomePage/Home.jsx
Labels: React

#45 added new api
  src/App.js
  src/api/Fetch_Api.js
  src/api/index.js
  src/api/new restaurants.js
  src/api/newHot.js
  src/components/Filters.jsx
  src/pages/HomePage/Home.jsx
  src/pages/map/Map.jsx
Labels: React, API, frontend, backend

#46 geolocation added to the leaflet map
  package-lock.json
  src/pages/HomePage/Home.jsx
  src/pages/map/Map.jsx
  src/pages/map/geolocation.jsx
Labels: Map, React, Leaflet, JS, Axios

#48 resolve all conflicts
  src/App.js
  src/components/Filters.jsx
Labels: API, frontend

#50 the geolocation has been added again
  src/pages/map/Map.jsx
Labels: Map, React, JS, frontend

#52 filter location done
  src/App.js
  src/components/Filters.jsx
  src/pages/HomePage/Hero.jsx
  src/pages/map/Map.jsx
Labels: React, API, frontend, backend

#55 create scroll to top button
  package-lock.json
  src/index.css
  src/pages/HomePage/Footer.jsx
  src/pages/HomePage/ScrollToTop.jsx
Labels: React, pages, JS, Page feature

#56 Card section
  src/App.js
  src/api/landmark.api.js
  src/pages/CardDetailsPage/CardDetails.jsx
  src/pages/HomePage/Places.jsx
  src/view-model/GetLandmarkView.js
Labels: React, Cards

#58 Contact Form jsx
  package-lock.json
  package.json
  public/index.html
  src/index.js
  src/pages/ContactPage/Contact.jsx
Labels: React, pages, JS, frontend

#57 Fix dom issue with ScrollToTop component
  src/pages/HomePage/Footer.jsx
  src/pages/HomePage/ScrollToTop.jsx
Labels: React, Page feature

#65 update card and input suggestion
  src/App.js
  src/components/Filters.jsx
  src/pages/HomePage/Hero.jsx
  src/pages/HomePage/Home.jsx
  src/pages/HomePage/Places.jsx
  src/pages/map/Map.jsx
Labels: Map, React, API, frontend

#71 Card params fixed issue
  src/App.js
  src/components/Filters.jsx
  src/pages/HomePage/Hero.jsx
  src/pages/HomePage/Home.jsx
  src/pages/HomePage/OnePlace.jsx
  src/pages/HomePage/Places.jsx
  src/pages/map/Map.jsx
Labels: React, Cards, API, backend

#74 update card with responsive
  src/App.js
  src/pages/HomePage/Cards.jsx
  src/pages/HomePage/Home.jsx
  src/pages/HomePage/Places.jsx
Labels: React, Cards, frontend

#76 update new api link
  src/App.js
  src/api/landmark.api.js
  src/api/location.api.js
  src/components/Filters.jsx
  src/pages/ContactPage/Contact.jsx
  src/pages/HomePage/Hero.jsx
  src/pages/HomePage/Home.jsx
  src/pages/HomePage/OnePlace.jsx
  src/pages/HomePage/Places.jsx
Labels: API, backend
